<IfModule mod_rewrite.c>
    RewriteEngine On
    <Files .env>
        Order Allow,Deny
        Deny from all
        satisfy all
    </Files>
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?queries=$1 [QSA,L]
</IfModule>