<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2026. Wepesi Dev Framework
  -->
<phpunit bootstrap="src/Test/Component/bootstrap.php" colors="true" stopOnFailure="false" cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Wepesi Components">
            <directory>src/Test/Component</directory>
        </testsuite>
    </testsuites>
</phpunit>